[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coverage = "*"
django = "*"
django-crontab = "*"
djangorestframework = "*"
dj-database-url = "*"
firebase-admin = "*"
gunicorn = "*"
iso4217 = "*"
psycopg2-binary = "*"
python-dotenv = "*"
spacy = "*"
pandas = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.9"
